@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --darkblue: #274472;
    --midnightblue: #41729F;
    --bluegray: #5885AF;
    --babyblue: #C3E0E5;
    --offwhite: #E8EEF1;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    font-family: 'Lato', sans-serif !important;
    background-color: var(--babyblue);
}

.darkblue {
    background-color: var(--darkblue)
}

.blue {
    background-color: var(--midnightblue)
}

.lightblue {
    background-color: var(--bluegray)
}

.searchbar {
    height: 100px;
    display: grid;
    place-items: center;
}

/* searchbar top */
.search-input {
    border: 0;
    border-radius: 10px;
    text-align: center;
}

/* navigation */

.nav-link,
.nav-link:hover {
    font-size: 1.2rem;
    color: var(--white);
}

a {
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--white);
    text-decoration: none;
    position: relative;
}

a:hover, a:focus {
    color: var(--white) !important;
}

a:before {
    content: '';
    border-bottom: solid 2px var(--white);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

a:hover:before, a:focus:before {
    opacity: 1.0;
}

a,
a:before {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* cards */

.card {
    margin: 20px 10px;
    padding: 20px 30px;
    border-radius: 7px;
}

.current > .card {
    color: var(--white);
    background-color: var(--bluegray);
}

.card>div>div>h2 {
    font-size: 4rem;
}

#weathericon {
    width: 150px;
    height: auto;
}

.details > .card {
    color: var(--black);
}

@media (max-width: 575.98px) { 
    .current > .card {
        text-align: center;
    }
}


@media (min-width: 575.98px) { 
    #mainInfo {
        display: flex;
        justify-content: space-between;
    }
}