@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --darkblue: #274472;
    --midnightblue: #41729F;
    --bluegray: #5885AF;
    --babyblue: #C3E0E5;
    --lightGray: #e7ecf1;
    --offwhite: #E8EEF1;
    --white: #FFFFFF;
    --black: #000000;
    --red: #ff0000;
}

body {
    font-family: 'Lato', sans-serif !important;
    background: rgb(88,133,175);
    background: linear-gradient(180deg, rgba(88,133,175,1) -20%, rgba(195,224,229,1) 50%, rgba(232,238,241,1) 100%);
    background-repeat: no-repeat;
}

.darkblue {
    background-color: var(--darkblue)
}

.blue {
    background-color: var(--midnightblue)
}

.lightblue {
    background-color: var(--bluegray)
}

h1, .h1{
    font-size: 1.5rem;
}

h2, .h2{
    font-size: 5rem;
}

h3, .h3 {
    font-size: 3rem;
}

h4, .h4 {
    font-size: 2rem;
}

h5, .h5 {
    font-size: 1.5rem;
}

.error {
    text-align: center;
    color: var(--red);
    margin: 0;
}
/* searchbar top */
.searchbar {
    height: 100px;
    place-items: center;
}


.search-input {
    border: 0;
    border-radius: .25rem;
    text-align: center;
}

/* navigation */

.nav-link,
.nav-link:hover {
    font-size: 1.2rem;
    color: var(--white);
}

a {
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--white);
    text-decoration: none;
    position: relative;
}

a:hover, a:focus {
    color: var(--white) !important;
}

a:before {
    content: '';
    border-bottom: solid 2px var(--white);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

a:hover:before, a:focus:before {
    opacity: 1.0;
}

a,
a:before {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* cards */

.card {
    margin: 20px 10px;
    padding: 20px 30px;
    border-radius: .25rem;
}

.current > .card {
    color: var(--white);
    background-color: var(--darkblue);
}

#weathericon {
    width: 150px;
    height: auto;
}

.details > .card {
    color: var(--black);
}

.minMax {
 margin: auto 0;
}

.detailsIcon {
    width: 24px;
    margin-right: 5px;
    height: auto;
    vertical-align: text-bottom;
}

.listItem {
    border-top: 1px solid var(--bluegray);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0;
}

/* donut chart */
  
  .chart-number {
    font-size: 0.5em;
    line-height: 1;
    text-anchor: middle;
    transform: translateY(0.25em);
  }
  
  figure {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: -15px;
    margin-right: -15px;
  }
  
  @media (min-width: 768px) {
    figure {
      flex-direction: row;
    }
  }
  
  .figure-content,
  .figure-key {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
    align-self: center;
  }
  
  .figure-content svg {
    max-height: 300px;
  }
  
  .figure-key {
    min-width: calc(8 / 12);
  }
  
  .figure-key [class*="shape-"] {
    margin-right: 6px;
  }
  
  .figure-key-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .figure-key-list li {
    margin: 0 0 8px;
    padding: 0;
  }
  
  .shape-circle {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

@media (max-width: 575.98px) { 
    .card {
        text-align: center;
    }
}


@media (min-width: 575.98px) { 
    .tempInfo {
        display: flex;
        justify-content: space-between;
    }
}